/* header and text */

.header {
	text-align: center;
	font-size: 100px;
	color: #3c0101 !important;
}

/* alignment */ 
.alignedcenter {
	text-align: center;
}
.buttontext {
	display: inline;
}

/* backrounds 
.background-red{
	background-color: rgb(176,35,54) !important;
}
*/

/* buttons */

.roombtn {	
	border: 0 none;
	text-transform: uppercase;
	margin-top: 20px;
	display: inline;
	text-align: center;
	font-size: 50px;
	width: 300px;
}
.roombtn:focus, .roombtn:active:focus, {
	outline: 5px none;
}
.roombtn-lg {
	padding: 20px 40px;
}
.btn-brown{
	background-color: #b02336 !important;
	color: white;
}
.btn-grey{
	background-color: #e55d71 !important;
	color:white;
}

.roombtn:hover {
  background: black;
  border: 3px solid #d5c2be;
}

.roombtn:active {
  background: #2e2e2e;
  border: 1px solid black;
  color: white;
 }