/* header, footer, and text */

.header {
	text-align: center;
	font-size: 100px;
	color: #3c0101 !important;
	font-family: 'Rubik';
	border-bottom: solid;
}

.rubik {
	font-family: 'rubik';
}

.smallheader {
	font-size: 40px;
	color: #3c0101 !important;
	font-family: 'Rubik';
	border-bottom: solid;
}

.infotext{
	text-align: center;
	margin-top: 20px;
	font-size: 45px;
	font-family: 'roboto';
	/* color: #FFFADD; */
}

.infotext2{
	text-align: center;
	margin-top: 20px;
	font-size: 40px;
	font-family: 'roboto';
	/* color: #FFFADD ; */
}

.buttontext {
	display: inline;
}

.footer{ 
       position: fixed;     
       text-align: left;    
       bottom: 0px;
       font-size: 16px;
       margin-left: 10px;
       margin-bottom: 10px;
       font-family: 'roboto';
       /* color: #d5c2be; */
}  

/* pop up */

.popupsize {
	width: 175px;
	height: 125px;
}

/* body/background */

.potato {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.docenter {
	text-align: center;
}

.bodycolor {
	background: #d5c2be;
}

/* buttons */

.roombtn {	
	border: 0 none;
	margin-top: 20px;
	display: inline;
	height: 100px;
	width: 250px;
	font-family: 'Rubik';
	font-size: 150px;
}
.roombtn-lg {
	padding: 40px 60px;
}

.roombtn:focus, .roombtn:active:focus, {
	outline: 5px none;
}
.btn-brown{
	background-color: #b02336 !important;
	color: white;
}
.btn-grey{
	background-color: #e55d71 !important;
	color: white;
}

.roombtn:hover {
  background: black;
  border: 3px solid #d5c2be;
}

.roombtn:active {
  background: #2e2e2e;
  border: 1px solid black;
  color: white;
 }
