.smallheader {
	font-size: 40px;
	color: #3c0101 !important;
	font-family: 'Rubik';
	border-bottom: solid;
	margin-top: 60px;
	margin-left: 20px;
}

.content {
	margin-left: 50px
}

.cityInput {
	font-size: 20px;
}

.distBtn {
	width: 75%;
}

.locationBtn {
	margin-top: 60px;
}

.btnCont {
	text-align: center;
}

.startBtnCont  {
	text-align: center;
	margin-top: 50px;
}

.startBtn {
	width: 30%;
	height: 7%;
}